* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --size-pri: clamp(1rem, 0.8rem + 0.4vw, 1.2rem);
    --radius-pri: 10px;
    --clr-pri: #cccccc4b;
    --clr-sec: #69666681;
}

body {
    font-size: var(--size-pri);
    display: grid;
    grid-template-columns: minmax(min(800px, 90%), 70vw);
    justify-content: center;
}

nav {
    padding: calc(1.5 * var(--size-pri));
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

img {
    width: min(250px, 70%);
    border-radius: var(--radius-pri);
}

button {
    flex: 1;
    padding: 1em;
    font-size: calc(1.5 * var(--size-pri));
    font-weight: bold;
    background-color: var(--clr-pri);
    border: none;
    border-radius: var(--radius-pri);
}

button:is(:hover, :focus) {
    background-color: var(--clr-sec);
    color: white;
}

h1 {
    text-wrap: pretty;
    font-size: calc(2.5 * var(--size-pri));
}

.content-display {
    position: relative;
    padding: var(--size-pri);
    text-align: center;
    animation: borderIn 2s ease-in-out;
    box-shadow: inset 0 1em 0 0 var(--clr-sec),
        inset 0.1em 0 0 0 var(--clr-sec),
        inset -0.1em 0 0 0 var(--clr-sec),
        inset 0 -0.1em 0 0 var(--clr-sec);
    border-radius: var(--size-pri);
    margin-bottom: 1em;
}

#content > * {
    padding: var(--size-pri);
}

.img-bar {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: var(--size-pri);
    margin: auto;
}

.img-bar > * {
    flex: 1;
    /* width: min(250px, 50%);
    border-radius: var(--radius-pri); */
}

#content > p {
    font-size: calc(1.2 * var(--size-pri));
    font-weight: 700;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: max-content;
}

.menu > * {
    margin: var(--size-pri);
    border-radius: var(--size-pri);
    border: 2px solid transparent;
    transition: transform 1s ease-in-out;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 3fr;
    justify-items: center;
    white-space: pre-line;
}

.menu > *:hover {
    transform: scale(1.05);
    background-color: var(--clr-pri);
}

.menu p {
    max-width: 40ch;
    margin: auto;
}

.menu p:nth-child(3) {
    font-weight: bold;
}

.menu img {
    width: 60%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

@keyframes borderIn {
    0% {
        opacity: 0;
        box-shadow: none;
        border: none;
    }

    50% {
        box-shadow: inset 0 0.5em 0 0 var(--clr-sec);
        /* border-radius: var(--size-pri); */
    }

    75% {
        opacity: 1;
    }

    100% {}
}