* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanzuri', 'Akaya Telivigala', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.3em;
}

:root {
    --size-pri: clamp(1rem, 0.8rem + 0.4vw, 1.2rem);
    --radius-pri: 10px;
    --clr-pri: #cccccc4b;
    --clr-sec: #69666681;
}

body {
    font-size: var(--size-pri);
    display: grid;
    grid-template-columns: minmax(min(800px, 90%), 70vw);
    justify-content: center;
}

nav {
    padding: calc(1.5 * var(--size-pri));
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

img {
    width: min(250px, 70%);
    border-radius: var(--radius-pri);
}

button {
    flex: 1;
    padding: 1em;
    font-size: calc(1.5 * var(--size-pri));
    font-weight: bold;
    background-color: var(--clr-pri);
    border: none;
    border-radius: var(--radius-pri);
    transition: background-color 1s ease-in-out,
        color 0.5s ease-in-out;
}

button:is(:hover, :focus) {
    background-color: var(--clr-sec);
    color: white;
    cursor: pointer;
}

h1 {
    text-wrap: pretty;
    font-size: calc(2.5 * var(--size-pri));
}

p {
    white-space: pre-line;
}

#content > p {
    font-size: calc(1.2 * var(--size-pri));
    font-weight: 700;
}

.content-display {
    position: relative;
    padding: calc(3 * var(--size-pri));
    padding-top: calc(5 * var(--size-pri));
    text-align: center;
    animation: borderIn 2s ease-in-out;
    box-shadow: inset 0 1em 0 0 var(--clr-sec),
        inset 0.1em 0 0 0 var(--clr-sec),
        inset -0.1em 0 0 0 var(--clr-sec),
        inset 0 -0.1em 0 0 var(--clr-sec);
    border-radius: var(--size-pri);
    margin-bottom: 10vh;
}

.home .img-bar {
    margin: calc(3 * var(--size-pri)) auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: var(--size-pri);
}

.home .img-bar > * {
    flex: 1;
    /* width: min(250px, 50%);
    border-radius: var(--radius-pri); */
}

.home p {
    margin-bottom: var(--size-pri);

}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
    grid-auto-rows: 1fr;
    row-gap: calc(6 * var(--size-pri));
    column-gap: var(--size-pri);
}

.menu > * {
    margin: auto;
    border-radius: var(--size-pri);
    border: 2px solid transparent;
    transition: transform 1s ease-in-out,
        background-color 1s ease-in-out;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.6fr 1fr 1fr 2fr;
    justify-items: center;
}

.menu > *:hover {
    transform: scale(1.05);
    background-color: var(--clr-pri);
}

.menu p {
    /* padding: var(--size-pri); */
    max-width: 30ch;
    margin: auto;
}

.menu p:nth-child(3) {
    font-weight: bold;
}

.menu img {
    width: clamp(150px, 25vw, 60%);
    aspect-ratio: 3/2;
    object-fit: cover;
}

.map {
    width: clamp(150px, 50vw, 70%);
    aspect-ratio: 3/2;
    margin: auto;
    border-radius: var(--radius-pri);
}

footer {
    height: 5vh;
    width: 100vw;
    font-size: calc(0.8 * var(--size-pri));
    color: white;
    background-color: var(--clr-sec);
    position: fixed;
    z-index: 100;
    opacity: 0.5;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: 40vh;
    place-content: center;
    place-items: center;

}

.history > img {
    padding: 0;
    width: 100%;
    max-height: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: center;
}

.history > p {
    padding: var(--size-pri);
}


@keyframes borderIn {
    0% {
        opacity: 0;
        box-shadow: none;
        border: none;
    }

    50% {
        box-shadow: inset 0 0.5em 0 0 var(--clr-sec);
    }

    75% {
        opacity: 1;
    }

    100% {}
}


@font-face {
    font-family: 'Akaya Telivigala';
    src: url('./assets/AkayaTelivigala-Regular.woff2') format('woff2'),
        url('./assets/AkayaTelivigala-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanzuri';
    src: url('./assets/Kanzuri.woff2') format('woff2'),
        url('./assets/Kanzuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media (max-width: 810px) {

    .menu > * {
        grid-template-rows: 0.7fr 1fr 1fr 1fr;
    }

    #content > * {
        padding: 0;
    }
}

@media (max-width: 1250px) {
    .map {
        width: 90%;
        aspect-ratio: 1/1;
    }
}