* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --size-pri: clamp(1rem, 0.8rem + 0.4vw, 1.2rem);
    --radius-pri: 10px;
    --clr-pri: rgb(207, 184, 218);
    --clr-sec: rgb(112, 90, 122);
}

body {
    font-size: var(--size-pri);
    display: grid;
    grid-template-columns: minmax(min(800px, 90%), 70vw);
    justify-content: center;
}

nav {
    padding: calc(1.5 * var(--size-pri));
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

button {
    flex: 1;
    padding: 1em;
    font-size: calc(1.5 * var(--size-pri));
    font-weight: bold;
    background-color: var(--clr-pri);
    border: none;
    border-radius: var(--radius-pri);
}

button:hover {
    background-color: var(--clr-sec);
    color: white;
}

h1 {
    text-wrap: pretty;
    font-size: calc(2.5 * var(--size-pri));
}

#content {
    position: relative;
    padding: var(--size-pri);
    text-align: center;
    transition: border 1s ease,
        opacity 1s ease;
    /* animation: contentIn 2s ease-in-out;
    animation: borderIn 2s ease-in-out; */
}


#content > * {
    padding: var(--size-pri);
}

#content::before {
    content: "";
    position: absolute;
    inset: 0;
    /* couvre tout le conteneur */
    border: 4px solid transparent;
    transition: border-color 0.4s ease,
        opacity 0.4s ease;
    transition-delay: 0.6s;
    /* <‑‑ délai avant l’apparition */
    opacity: 0;
    /* invisible au départ */
}

/* État « activé » (au survol ou via une classe) */
#content:hover::after {
    border-color: #0077ff;
    /* couleur de la bordure */
    opacity: 1;
    /* rend la bordure visible */
}

.img-bar {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: var(--size-pri);
    margin: auto;
}

.img-bar > * {
    flex: 1;
    width: min(250px, 50%);
    border-radius: var(--radius-pri);
}

#content > p {
    font-size: calc(1.2 * var(--size-pri));
    font-weight: 700;
}


/* @keyframes contentIn {

    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes borderIn {
    0% {
        opacity: 0;
        border: none;
        box-shadow: none;
    }

    100% {
        opacity: 1;
        box-shadow: inset 0em 1em 0em 0em var(--clr-pri);
        border-radius: var(--size-pri);
    }
} */